<% require('./planets.json').forEach(({ id, name, background, rotationTime, revolutionTime }) => { %>
  <section id="<%= id %>">
    <div class="spaced dark">
      <img class="planet" src="images/<%= id %>.svg" alt="<%= name %>" title="<%= name %>">
      <p>On <strong><%= name %></strong> you are <strong id="<%= id %>-age"></strong> old.</p>
      <p>
        <strong>One year</strong> here lasts <strong>≈ <%= revolutionTime.toFixed(2) %><%= id === 'earth' ? '' : ' local' %> days</strong><%= id === 'earth' ? '.' : ',' %>
        <% if (id !== 'earth') { %>
          <br>while <strong>one day</strong> lasts <strong>≈ <%= (rotationTime + 0.002730319999999953).toFixed(2) %> terrestrial days.</strong>
        <% } %>
      </p>
      <p>Your <strong>next birthday</strong> will be <strong id="<%= id %>-birthday"></strong>.</p>
    </div>
  </section>
<% }) %>
